/* Layout Modifications
********************************/
body {
  font-family: Arial;
}

.container {
  margin-left: 40px;
  width: 650px;
}

.crop img {
  width: 150px;
  margin: 0px 0 0 0px;
}

.award {
  color: #b8860b;
  font-weight: bold;
  font-style: italic;
}

li {
  margin: 5px;
}